.investment-history {
    margin-top: 30px;

    .investment-record {
        background-color: #f9f9f9;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        border: 1px solid #e0e0e0;

        span {
            color: #555;
        }
    }
}